{% load static %}
<style type="text/css">
    @media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .5); }

.navbar-nav > li > .dropdown-menu { background-color: rgba(0, 0, 0, 1); }
</style>

  <!-- Alert modal -->
  <div id="alertModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-body">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-warning" id="pushedId" data-dismiss="modal">OK</button>
        </div>
        </div>

    </div>
  </div>
  <!-- Update modal for new content update -->
  <div id="updateModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-body">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-warning" id="updateId" data-dismiss="modal">OK</button>
        </div>
        </div>

    </div>
  </div>


  
<div class="loading" id="loaded" style="display:none;">
</div>

<nav class="navbar navbar-expand-md navbar-default fixed-top navbar-dark bg-dark border-bottom ">
      <a class="navbar-brand" href="#">
          <img src="{% static '/images/logop1.png' %}" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      {% if request.user.is_authenticated %}
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'push:push-data' %}">
                <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Push Data</button>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'core:devicesconnected' %}">
                <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Devices Linked</button>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> 
                <button class="btn btn-outline-warning my-2 my-sm-0" type="button" id="updater" onclick="updaters()" >Feature Update</button>
            </a>
          </li>
          <li class="dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown">
              <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">
                  Downloads<span class="caret"></span>
              </button>
            </a>
            <!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1
              <span class="caret"></span></a> -->
              <ul class="dropdown-menu">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'core:programs' %}">
                      <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">
                          Data Download<span class="sr-only">(current)</span>
                      </button>
                  </a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'apkdownloaderapp:apkdwn' %}">
                      <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Apk Download</button>
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="{% url 'content_viewer:app_available' %}">
                      <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Content Download</button>
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="{% url 'assessment:common' %}"> 
                      <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Assessment Download</button>
                  </a>
                </li>
              </ul>
          </li>
        </ul>
        <ul class="navbar-nav my-2 my-md-0 mr-md-3">
          <li class="nav-item active">
            <span style="color: #e5e5e5;">
              Welcome, {{ request.user.username|title }}
            </span>
          </li>
      </ul>
        <ul class="navbar-nav my-2 my-md-0 mr-md-3">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'account:user_logout' %}">
                  <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Logout</button>
              </a>
            </li>
        </ul>
      </div>
      {% else %}
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav my-2 my-md-0 mr-md-3">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'account:user_login' %}">
                    <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Login</button>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'content_viewer:app_available' %}">
                    <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Contents</button>
                </a>
            </li>
          </ul>
        </div>
      {% endif %}
    </nav>
    <!-- <hr> -->

    <script>
      function updaters() {
        console.log("feture update clicked !");
        let updateUrl = '/new/appupdate/';
        $.ajax({
                type: 'POST',
                url: updateUrl,
                dataType: "json",
                headers:{
                    "X-CSRFToken": '{{ csrf_token }}'
                },
                // data:{
                //   'totalAppsList[]': totalAppsList
                // },
                beforeSend: function(response){
                    // setTimeout(function() {$('#popupModal').modal('hide');}, 2000);
                    $('.loading').css("visibility", "visible");
                },
                success: function(response){
                    // response = JSON.parse(response)
                    if (response['msg'] === 200){
                        $('.loading').css("visibility", "hidden");
                        console.log("new update available!!");
                        $('#updateModal .modal-body').html('<p> Application is updated!!! </p>');
                        $('#updateModal').modal('show')
                    }
                    else if (response['msg'] === 500) {
                      console.log("no new update available!");
                        $('.loading').css("visibility", "hidden");
                        $('#updateModal .modal-body').html('<p>Internet Issue</p>');
                        $('#updateModal').modal('show')
                    }
                },
                error: function (error) {
                    console.log('error; ', eval(error),  "no new response error this side ");
                    // $('.loading').css("visibility", "hidden");
                    $('#updateModal .modal-body').html('<p>Something Went Wrong!</p>');
                    $('#updateModal').modal('show')
                }
              });
      }
    </script>
   