{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static '/css/loadergif.css'%}">
    <br>
    <div class="container">
        <div class="">
            <div class="breadcrumb">
                <div class="items">
                </div>
                <div class="btn-block pull-right">
                    <button type="submit" id="sort_ids" class="btn btn-secondary float-right" disabled>Download</button>
                    <div class="loading" id="loaded" style="display:none;">
                    </div>
                    <div class="loading1" id="loaded1">
                    </div>
                </div>
            </div>
            <div id="dvtree">
            </div>
            <!-- Modal -->
            <div id="recordModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

            <!-- success or error modal -->
            <div id="pushModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                    </div>
                    </div>

                </div>
            </div>

            <!-- confirmation modal -->
            <div id="confirmModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary mr-auto yes" data-dismiss="modal">OK</button>
                        <button class="btn btn-secondary no" data-dismiss="modal">Close</button>
                    </div>
                    </div>

                </div>
            </div>

        </div>
    </div>



<script>
    var treeData = ''
    var languageId = ''
    var languageName = ''
    var subjectId = ''
    var subjectName = ''
    var languageArray = [];
    var subjectArray = [];
    var examIdArray = [];

    let examids_lst_from_main = "{{examids_lst}}";
    // examids_lst_from_main = JSON.parse(examids_lst_from_main)
    examids_lst_from_main = JSON.parse(examids_lst_from_main.replace(/&quot;/g,'"'));
    // console.log(examids_lst_from_main, typeof(examids_lst_from_main), "yoho!!@")

    function confirmbox() {
        $('#confirmModal .modal-body').html('<p>Are You Sure You Want To Download?</p>');
        $('#confirmModal').modal('show');
    }

    function showloader() {
        $('#loaded').show();
        $('.loading').css("visibility", "visible");
    }

    function hideloader() {
        $('#loaded').hide();
        $('.loading').css("visibility", "hidden");
    }

    window.onload = function(){
        showloader();
        callLanguage();
    }

    function callLanguage() {
        showloader();
        subjectId = ''
        subjectName = ''
        languageId = ''
        languageName = ''
        let lang_url = "/assessment/language"
        fetch(lang_url, {
            method: 'POST',
            headers: {
                "Content-Type" : "application/json",
                "X-CSRFToken": '{{ csrf_token }}'
            }
        })
        .then(response => response.json())
        .then(jsondata => {
            fetchLangData(jsondata);
            hideloader();
        })
    }
    
    function fetchLangData(jsondata) {
        let treeData = jsondata.language_result;
        createCrumb();
        
        if (treeData.length === 0){
                $('#loaded').hide();
                $('.loading').css("visibility", "hidden");
                $('#recordModal .modal-body').html('<p>No Records Found</p>');
                $('#recordModal').modal('show')
            }
            else{
                $('#loaded').hide();
                $('.loading').css("visibility", "hidden");
                loadLanguageData(treeData);
            }
    }

    function loadLanguageData(treeData) {
        // console.log("language data !!!!!!!");
        let str = '';
        str=str+'<ul>';
        for (let i = 0; i < treeData.length; i++) {
                str=str+'<li>\
                    <input name="apiLanguageData" type="checkbox" class="box" id="'+treeData[i]["languageid"].toString()+'"\
                     value="apiLanguageData"  onchange="" onclick="">\
                    <a href="#" style="color:black;"\
                    onclick="fetchSubjectData(\''+treeData[i]["languageid"].toString()+'\', \''+treeData[i]["languagename"].toString()+'\');">'+treeData[i]["languagename"]+'</a></li>';
        }

        str=str+'</ul>';
        $("#dvtree").html(str);
        langlistener();
    }


    function fetchSubjectData(langId, langName) {
        showloader();
        subjectId = ''
        subjectName = ''
        languageId = langId;
        languageName = langName;
        let subj_url = "/assessment/subject"
        fetch(subj_url, {
            method: 'POST',
            headers: {
                "Content-Type" : "application/json",
                "X-CSRFToken": '{{ csrf_token }}'
            },
            body: JSON.stringify({
                'langId': langId,
                'langName': langName
            })
        })
        .then(response => response.json())
        .then(jsondata => {
            loadSubjectData(jsondata);
            hideloader();
        })
    }

    function loadSubjectData(jsondata) {
        let treeData = jsondata.subject_result['subj_result']
        // console.log("subject data !!!!!!!", treeData);
        let str = '';
        str=str+'<ul>';
            for (let i = 0; i < treeData.length; i++) {
                if(!treeData[i].checked){
                    // console.log("908111");
                    str=str+'<li>\
                        <input name="apiSubjectData" type="checkbox" class="box" id="'+treeData[i]["subjectid"].toString()+'"\
                        onchange="" onclick="">\
                        <a href="#" style="color:black;"\
                        onclick="fectchExamData(\''+languageId+'\',\''+treeData[i]["subjectid"].toString()+'\', \''+treeData[i]["subjectname"].toString()+'\', flag=0);">'+treeData[i]["subjectname"]+'</a></li>';
                    }
                    else{
                        str=str+'<li>\
                        <input name="apiSubjectData" type="checkbox" class="box" id="'+treeData[i]["subjectid"].toString()+'"\
                        checked=true onchange="" onclick="">\
                        <a href="#" style="color:black;"\
                        onclick="fectchExamData(\''+languageId+'\',\''+treeData[i]["subjectid"].toString()+'\', \''+treeData[i]["subjectname"].toString()+'\', flag=1);">'+treeData[i]["subjectname"]+'</a></li>';
                    }
             }
                    
        str=str+'</ul>';
        $("#dvtree").html(str);
        createCrumb();
        subjlistener();
    }

    function fectchExamData(languageid, subjectid, subjectname, flag) {
        showloader();
        subjectName = subjectname;
        let exam_url = "/assessment/exam"
        fetch(exam_url, {
            method: 'POST',
            headers: {
                "Content-Type" : "application/json",
                "X-CSRFToken": '{{ csrf_token }}'
            },
            body: JSON.stringify({
                'languageid': languageid,
                'subjectid': subjectid
            })
        })
        .then(response => response.json())
        .then(jsondata => {
            loadExamData(jsondata, flag, subjectid);
            hideloader();
        })
    }

    function loadExamData(jsondata, flag, subjectid) {
        let treeData = jsondata.exam_result['exam_result'][0]['lstsubjectexam'];
        // console.log(examids_lst_from_main, "main data", examids_lst_from_main.length, typeof(examids_lst_from_main))

        // for (let j = 0; j < examids_lst_from_main.length; j++) {
        //     console.log(examids_lst_from_main[j], typeof(examids_lst_from_main[j]), examids_lst_from_main[j].toString())
        // }
        
        let str = '';
        str=str+'<ul>';
        for (let i = 0; i < treeData.length; i++) {
            let isChecked = false;
            str=str+'<li>';
            for (let j = 0; j < examids_lst_from_main.length; j++) {
                if (treeData[i]["examid"].toString() === examids_lst_from_main[j]) {
                    isChecked = true;
                }
            }
            if (isChecked) {
                    str+=`<input name="apiExamData" type="checkbox" disabled class="box" id="${treeData[i]["examid"].toString()}"\
                            onchange="" onclick="">\
                            ${treeData[i]["examname"]} <img src=${`"{% static 'images/check.svg' %}"`}>`
                } else {
                    str+=`<input name="apiExamData" type="checkbox" class="box" id="${treeData[i]["examid"].toString()}"\
                            onchange="" onclick="">\
                            ${treeData[i]["examname"]}`
                }
            str+='</li>';

        }

        str=str+'</ul>';
        $("#dvtree").html(str);
        createCrumb();
        examlistener();
    }

    function createCrumb() {
        $(".items").empty();
        $(".items").prepend('<a href="#" style="color:green;text-decoration:None;" onclick="callLanguage();">Home</a>');
        if (languageName !== ''){
            $(".items").append(' > <a href="#" style="color:green;text-decoration:None;" onclick="fetchSubjectData(\''+languageId+'\', \''+languageName+'\');">'+languageName.toString()+'</a>');
        }
        if (subjectName !== ''){
            $(".items").append(' > <a href="#" style="color:green;text-decoration:None;">'+subjectName.toString()+'</a>');
        }
    }

    var checkboxLanguageValues = JSON.parse(localStorage.getItem('checkboxLanguageValues')) || {};
    var checkboxSubjectValues = JSON.parse(localStorage.getItem('checkboxSubjectValues')) || {};
    var checkboxExamValues = JSON.parse(localStorage.getItem('checkboxExamValues')) || {};
    var cbox = document.querySelector("#dvtree");

    // language checkbox function
    function langlistener() {
        cbox.addEventListener("change", function () {
            let subjid = '';
            // var checkboxesLang = document.querySelectorAll('input[type="checkbox"]:checked');
            let checkboxesLang = document.querySelectorAll('input[type="checkbox"][name="apiLanguageData"]');
            for (let i = 0; i < checkboxesLang.length; i++) {
                    if (checkboxesLang[i].checked === true) {
                        checkboxLanguageValues[checkboxesLang[i].id] = true
                        languageArray.push(checkboxesLang[i].id)
                    }
                    else{
                        delete checkboxLanguageValues[checkboxesLang[i].id]
                        languageArray = languageArray.filter(item => item != checkboxesLang[i].id)
                    }
            }
            localStorage.setItem("checkboxLanguageValues", JSON.stringify(checkboxLanguageValues));
            // console.log(languageArray, "lang2nd");
            langJsonObject = languageArray.map(JSON.stringify);
            langUniqueSet = new Set(langJsonObject);
            languageArray = Array.from(langUniqueSet).map(JSON.parse);
            // console.log(languageArray, "lang3rd");
        })
        
        $.each(checkboxLanguageValues, function(key, value) {
            $("#" + key).prop('checked', value);
        });
    }

    // subject checkbox function
    function subjlistener() {
        cbox.addEventListener("change", function () {
            let subjid = '';
            let checkboxesSubj = document.querySelectorAll('input[type="checkbox"][name="apiSubjectData"]');
            for (let i = 0; i < checkboxesSubj.length; i++) {
                    if (checkboxesSubj[i].checked === true) {
                        checkboxSubjectValues[checkboxesSubj[i].id] = true
                        subjectArray.push(checkboxesSubj[i].id)
                    }
                    else{
                        delete checkboxSubjectValues[checkboxesSubj[i].id]
                        subjectArray = subjectArray.filter(item => item != checkboxesSubj[i].id)
                    }
            }
            localStorage.setItem("checkboxSubjectValues", JSON.stringify(checkboxSubjectValues));
            // console.log(subjectArray, "subj2nd");
            subjJsonObject = subjectArray.map(JSON.stringify);
            subjUniqueSet = new Set(subjJsonObject);
            subjectArray = Array.from(subjUniqueSet).map(JSON.parse);
            // console.log(subjectArray, "subj3rd");
        })

        $.each(checkboxSubjectValues, function(key, value) {
            $("#" + key).prop('checked', value);
        });
    
    }

    // exam checkbox function
    function examlistener() {
        cbox.addEventListener("change", function () {
            let subjid = '';
            let checkboxesExam = document.querySelectorAll('input[type="checkbox"][name="apiExamData"]');
            for (let i = 0; i < checkboxesExam.length; i++) {
                    if (checkboxesExam[i].checked === true) {
                        checkboxExamValues[checkboxesExam[i].id] = true
                        examIdArray.push(checkboxesExam[i].id)
                    }
                    else{
                        delete checkboxExamValues[checkboxesExam[i].id]
                        examIdArray = examIdArray.filter(item => item != checkboxesExam[i].id)
                    }
            }
            localStorage.setItem("checkboxExamValues", JSON.stringify(checkboxExamValues));
            // console.log(examIdArray, "exam2nd");
            examJsonObject = examIdArray.map(JSON.stringify);
            examUniqueSet = new Set(examJsonObject);
            examIdArray = Array.from(examUniqueSet).map(JSON.parse);
            // console.log(examIdArray, "exam3rd");
            enableDloadBtn();
        })
        $.each(checkboxExamValues, function(key, value) {
            $("#" + key).prop('checked', value);
        });
    }


    function enableDloadBtn() {
        if (examIdArray.length > 0 && languageArray.length && subjectArray.length > 0){
            // console.log(examIdArray, languageArray, subjectArray, 'disable');
            document.getElementById('sort_ids').disabled = false;
        }
        else{
            // console.log(examIdArray, languageArray, subjectArray, 'enable');
            document.getElementById('sort_ids').disabled = true;
        }
    }

    $('#sort_ids').click(function (){
        showloader();
        let download_url = "/assessment/downloadassess"
        fetch(download_url, {
            method: 'POST',
            headers: {
                "Content-Type" : "application/json",
                "X-CSRFToken": '{{ csrf_token }}'
            },
            body: JSON.stringify({
                'languageid': languageArray,
                'subjectid': subjectArray,
                'examid': examIdArray
            })
        })
        .then(response => response.json())
        .then(jsondata => {
            // window.location.href = '/content/app_available/';
            localStorage.clear();
            hideloader();
            $('#pushModal .modal-body').html('<p>Data Saved Successfully!!</p>');
            $('#pushModal').modal('show');
            // window.location.href = '/assessment/';
        })
        .catch(error => {
            // console.log("error is ", error);
            localStorage.clear();
            hideloader();
            $('#pushModal .modal-body').html('<p>OOps!! Something Went Wrong While Downloading</p>');
            $('#pushModal').modal('show');
        });

})


     


    



</script>

{% endblock %}