{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static '/css/styleapk.css' %}">
<link rel="stylesheet" href="{% static '/css/wgfonts/fonts.css' %}">
    <div class="container">
        <br/>
        <div class="jumbotron text-center">
            <h3>Download Apps</h3>
            <hr>
            <div class="row appName">
                <div class="col-lg-1 col-md-1">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <p class="textsize">APK For Pradigi For Life White Tab :</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 appTitle">
                    <p class="textsize"><a href="http://pef1.prathamskills.org/pradigi/PraDigiLife.apk" class="text-primary" download>PraDigi For Life</a></p>
                </div>
                <div class="col-lg-1 col-md-1">
                </div>
            </div>
            <hr>
            <div class="row appName">
                <div class="col-lg-1 col-md-1">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <p class="textsize">APK For Pradigi For School :</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 appTitle">
                    <p class="textsize"><a href="http://pef1.prathamskills.org/pradigi/PDS.apk" class="text-primary" download>Pradigi For School</a></p>
                </div>
                <div class="col-lg-1 col-md-1">
                </div>
            </div>
            <hr>
            <div class="row appName">
                <div class="col-lg-1 col-md-1">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <p class="textsize">APK For Pradigi For Life Blue Tab :</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 appTitle">
                    <p class="textsize"><a href="http://pef1.prathamskills.org/pradigi/PraDigiLifeBlue.apk" class="text-primary" download>PraDigi For Life(Blue Tab)</a></p>
                </div>
                <div class="col-lg-1 col-md-1">
                </div>
            </div>
            <hr>
            <div class="row appName">
                <div class="col-lg-1 col-md-1">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <p class="textsize">APK For Pradigi For Assessment :</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 appTitle">
                    <p class="textsize"><a href="http://pef1.prathamskills.org/pradigi/Assessment.apk" class="text-primary" download>Assessment</a></p>
                </div>
                <div class="col-lg-1 col-md-1">
                </div>
            </div>
            <hr>
        </div>
    </div>

            
{% endblock %}
